@import '../../style/colorVariables';

.main-box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.box{
    //width: 25%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image{
    background-color: $fadedWight;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card{
    width: 240px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 90%;
    flex-wrap: wrap;
}

.title-style{
    font-weight: bold;
}

.author-style{
    color: $dimGray;
}

.content{
    padding-top: 10%;
}