<div class="dashboard">
    <mat-toolbar class="toolbar">
        <img src="../../../assets/education (1).svg">
        <h6>Bookstore</h6>
        <form class="f1">
            <div class="form">
                    <mat-icon class="search-button">search</mat-icon>
                <input matInput placeholder="Search" class="search-input">
            </div>
        </form>
        <div fxLayout="column" class="profile-icon">
            <mat-icon>perm_identity</mat-icon>
            <h6>Gautam</h6>
        </div>
        <div fxLayout="column" class="cart-icon">
            <mat-icon fontSet="material-icons-outlined">shopping_cart_outline</mat-icon>
            <h6>Cart</h6>
        </div>
    </mat-toolbar>
</div>
