<mat-toolbar class="toolbar">
    <img src="../../../assets/education (1).svg">
    <h6>Bookstore</h6>
</mat-toolbar>
<h1 fxLayoutAlign="center center" class="resetTitle">Reset Your Password?</h1>
<div fxLayoutAlign="center center" fxLayout="column">
    <mat-card fxFlex="20" class="card-content">
        <h4 fxLayoutAlign="center center">
            Enter your new Password
        </h4>
        <form class="reset-field" autocomplete="off" #resetForm="ngForm" (ngSubmit)="resetForm.reset();">
            <mat-form-field hideRequiredMarker appearance="outline" class="input-field">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" name="password" type="password" pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*\W)[a-zA-Z0-9\#]{8,}" [(ngModel)]="resetData.password" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field hideRequiredMarker appearance="outline" class="input-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm your password" name="password" required>
            </mat-form-field>
            <button mat-stroked-button class="reset-btn" (click)="submit()">Reset Password</button>
        </form>
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="reset-card">
        <a class="reset-account" [routerLink]="['/register']">LOGIN</a>
    </mat-card>
</div>
