<mat-toolbar class="toolbar">
    <img src="../../../assets/education (1).svg">
    <h6>Bookstore</h6>
</mat-toolbar>
<h1 fxLayoutAlign="center center" class="forgotTitle">Forgot Your Password?</h1>
<div fxLayoutAlign="center center" fxLayout="column">
    <mat-card fxFlex="27" class="card-content">
        <h4 fxLayoutAlign="center center">
            Enter your email address and we will<br> send you a link to reset your password
        </h4>
        <form class="email-field" autocomplete="off" #loginForm="ngForm" (ngSubmit)="loginForm.reset();">
            <mat-form-field hideRequiredMarker appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" required>
            </mat-form-field>
            <button mat-stroked-button class="send-mail">Send Email</button>
        </form>
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="create-card">
        <a class="create-account" [routerLink]="['/register']">CREATE ACCOUNT</a>
    </mat-card>
</div>