@import '../../style/colorVariables';

.login-form{
    padding-top: 10%;
    overflow: hidden;
}

.login-button{
    background-color: $darkRed;
    color: $white;
}

.link{
    padding-bottom: 2%;
}

.forgotLink{
    margin-left: 65%;
    text-decoration: none;
}