<form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" required>
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" name="password" required>
    </mat-form-field>
    <div style="padding-bottom: 2%;">
        <a style="margin-left: 65%;">Forgot Password?</a>
    </div>
    <button mat-stroked-button class="login-button">Login</button>
</form>