@import '../../style/colorVariables';
@import '../../style/mixin';

.login-form{
    padding-top: 10%;
    overflow: hidden;
}

.login-button{
    @include buttonStyle
}

.link{
    padding-bottom: 2%;
}

.forgotLink{
    margin-left: 65%;
    text-decoration: none;
}