<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="20" style="justify-content: center;">
        <img src="../../../assets/2766594.png" style="width: 80%; height: 80%; border-radius: 50%; justify-content: center; margin-left: 10%;">
        <h3 style="margin-left: 18%;">Online Book Shopping</h3>
    </mat-card>
    <mat-card fxFlex="35">
        <div style="display: flex;">
              <div>
                <button mat-button class="menu-item">
                    LOGIN
                </button>
            </div>
            <div>
                <button mat-button class="menu-item">
                    SIGNUP
                </button>
            </div>
        </div>
    </mat-card>

</div>
