<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="20" class="image-card">
        <img src="../../../assets/2766594.png" class="image-style">
        <h3>Online Book Shopping</h3>
    </mat-card>
    <mat-card fxFlex="25" class="main-mat-card-content">
        <mat-tab-group>
            <mat-tab label="LOGIN">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="SIGNUP">
                <app-sign-up></app-sign-up>
            </mat-tab>
          </mat-tab-group>
    </mat-card>
</div>
